<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="GigManager.GigManagerService">
        <endpoint address="GigManagerService" binding="basicHttpBinding"
          bindingConfiguration="Binding1" contract="GigManager.IGigManagerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000" />
            <add baseAddress="net.tcp://localhost:9000" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <!-- 
          From: http://msdn.microsoft.com/en-us/library/system.servicemodel.basichttpbinding.aspx
          Following is the expanded configuration section for a BasicHttpBinding.
          Each property is configured with the default value.
          See the TransportSecurity, and MessageSecurity samples in the
          Basic directory to learn how to configure these features.
          -->
      <basicHttpBinding>
        <binding name="Binding1"
                 hostNameComparisonMode="StrongWildcard"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 maxReceivedMessageSize="65536"
                 maxBufferSize="65536"
                 maxBufferPoolSize="524288"
                 transferMode="Buffered"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 bypassProxyOnLocal="false"
                 useDefaultWebProxy="true" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="serviceBehavior">
				  <serviceMetadata httpGetEnabled="true"/>
			  </behavior>
		  </serviceBehaviors>
	  </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Off, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="sriam.log" type="System.Diagnostics.XmlWriterTraceListener"
            name="sdt">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\temp\messages.xml" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>